{% load static %}

<!DOCTYPE html>
<!-- I am using head and body tags because the live render with
the live server extsneion doesn't work without them. -->
<head>
    <title>Assignments</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% include 'header.html' with title=Assignments %}
    <main class="container">
        <div class="heading">
            <h1 class="pageTitle">{{assignment.title}}</h1>
            <div class="divLine"></div>
            {% if assignment.points == 1%}
                <p>Due {{assignment.deadline|date:"F d" }}, total of {{assignment.points}} point</p>
            {% else %}
                <p>Due {{assignment.deadline|date:"F d" }}, total of {{assignment.points}} points</p>
            {% endif %}
        </div>
        <section class="ActionBox">
            {% if numStudents  == 1 %}
                <p>Currently {{submissionCount}}/{{numStudents}} submission</p>
            {% else %}
                <p>Currently {{submissionCount}}/{{numStudents}} submissions</p>
            {% endif %}

            <div class = "ActionRow">
                {% if mySubmissionCt == 1 %}
                    <p>{{mySubmissionCt}} submission assigned to you</p>
                {% else %}
                    <p>{{mySubmissionCt}} submissions assigned to you</p>
                {% endif %}
                    <p><a href="/{{assignment.id}}/submissions">Grade</a></p>
            </div>
        </section>

        <div>
            <h3 id="description">Description:</h3>
            {{assignment.description|safe}}
            <p></p>
        </div>
    </main>
</body>

