{% load static %}

<!DOCTYPE html>
<!-- I am using head and body tags because the live render with
the live server extsneion doesn't work without them. -->
<head>
    <title>Assignments</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% include 'header.html' with title=Assignments %}
    <main class="container">
        <div class="heading">
            <h1 class="pageTitle">{{assignment.title}}</h1>
            <div class="divLine"></div>
            {% if assignment.points == 1%}
                <p>Due {{assignment.deadline|date:"F d" }}, total of {{assignment.points}} point</p>
            {% else %}
                <p>Due {{assignment.deadline|date:"F d" }}, total of {{assignment.points}} points</p>
            {% endif %}
        </div>

        {% if student  or loggedOut %}
            <section class="ActionBox">
                {% if submissionStatus == "Missing"%}
                    <p>You did not submit this assignment and received 0 points</p>
                {% elif submissionStatus == "Not Due"%}
                    <p>No current submission</p>
                {% elif submissionStatus == "Graded" %}
                    <p>Your submission, <a href="{{ userSub.file.url }}" title="View submission">{{userSub.file.name}}</a>, received {{userSub.score}} / {{assignment.points}} ({{percentageGrade}}%)</p>
                {% elif submissionStatus == "Being Graded"%}
                    <p>Your submission, <a href="{{ userSub.file.url }}" title="View submission">{{userSub.file.name}}</a>, is being graded</p>
                {% elif submissionStatus == "Ungraded"%}
                    <p>Your current submission is <a href="{{ userSub.file.url }}" title="View submission">{{userSub.file.name}}</a></p>
                {% endif %}

                {% if submissionStatus == "Ungraded" or submissionStatus == "Not Due"%}
                    <form action="/{{ assignment.id }}/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="file">
                        <button id="submit">Submit</button>
                    </form>
                {% endif %}
            </section>
        {% endif %}
        
        {% if ta or superUser %}
            <section class="ActionBox">
                {% if numStudents  == 1 %}
                    <p>Currently {{submissionCount}}/{{numStudents}} submission</p>
                {% else %}
                    <p>Currently {{submissionCount}}/{{numStudents}} submissions</p>
                {% endif %}

                <div class = "ActionRow">
                    {% if superUser %}
                        <p>{{mySubmissionCt}} total submission{{ mySubmissionCt|pluralize }}</p>
                    {% else %}
                        {% if mySubmissionCt == 1 %}
                            <p>{{mySubmissionCt}} submission assigned to you</p>
                        {% else %}
                            <p>{{mySubmissionCt}} submissions assigned to you</p>
                        {% endif %}
                    {% endif %}
                    <p><a href="/{{assignment.id}}/submissions">Grade</a></p>
                </div>
            </section>
        {% endif %}

        <div>
            <h3 id="description">Description:</h3>
            {{assignment.description|safe}}
            <p></p>
        </div>
    </main>
</body>

