{% load static %}

<!DOCTYPE html>
<!-- I am using head and body tags because the live render with
the live server extsneion doesn't work without them. -->
<head>
    <title>Graderific</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <div class="navContainer">
            <h1>CS 3550</h1>
            <nav>
                <h2><a href="index.html">Assignments</a></h2>
                <h2 class="prof"><a href="profile.html">Profile</a></h2>
            </nav>
        </div>
    </header>

    <main class="container">
        <div class="heading">
            <h1 class="pageTitle">All Assignments</h1>
            <div class="divLine"></div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Assignment</th>
                    <th>Due date</th>
                    <th class="numColumn">Weight</th>
                </tr>
            </thead>
            <tbody>
                <!-- Django templates funcitonality -->
                {% for assignment in assignments %}
                    <tr>
                        <td><a href= "/{{ assignment.id }}/" title="View assignment">{{ assignment.title }}</a></td>
                        <td>{{ assignment.deadline|date:"b d"|capfirst }}</td>
                        <td class="numColumn">{{ assignment.weight }}</td>
                    </tr>
                {% endfor %}   
            </tbody>
        </table>
    </main>
</body>

