{% load static %}

<!DOCTYPE html>
<!-- I am using head and body tags because the live render with
the live server extsneion doesn't work without them. -->
<head>
    <title>Login</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% include 'header.html' with title=Graderific %}
    <main class="container">
        <div class="heading">
            <h1 class="pageTitle">Log in</h1>
            <div class="divLine"></div>
        </div>
        <form>
            <div class="inputRow">
                <label for="user">Username:</label><input autofocus id="user" type="text">
            </div>
            <div class="inputRow">
                <label for="pass">Password:</label><input id="pass" type="password">
            </div>
            <div class="buttonRow">
                <button>Log in</button>
            </div>
        </form>
    </main>
</body>

