{% load static %}

<!DOCTYPE html>
<!-- I am using head and body tags because the live render with
the live server extsneion doesn't work without them. -->
<head>
    <title>Profile</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% include 'header.html' with title=Profile %}
    <main class="container">
        <div class="heading">
            <h1 class="pageTitle">Your grades</h1>
            <div class="divLine"></div>
        </div>
        <div class="divLine"></div>
        <section class="ActionBox">
            <div class="ActionRow">
                <p>Currently logged in as {{curUser.get_full_name}}</p>
                <a role="button" href="logout/">Log out</a>
            </div>
        </section>

        {% if not student %}
        <table class="sortable">
            <thead>
                <tr>
                    <th>Assignment</th>
                    <th style="text-align: right;" class="sort-column">Graded</th>
                </tr>
            </thead>
            <tbody>
                {% for assignment in assignments %}
                    <tr data-index = "{{ forloop.counter }}">
                        <td><a href="/{{ assignment.id }}/submissions/" title="View submissions">{{ assignment.title }}</a></td>
                        <td data-value="{{ assignment.gradedSubmissions }} / {{ assignment.totalSubmissions}}" class="numColumn">
                            {{ assignment.gradedSubmissions }} / {{ assignment.totalSubmissions}}
                        </td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
        {% else %}
        <table class="sortable">
            <thead>
                <tr>
                    <th>Assignment</th>
                    <th style="text-align: right; font-weight: bold;" class="sort-column">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for assignment in assignments %}
                    <tr data-index = "{{ forloop.counter }}">
                        <td><a href="/{{ assignment.id }}" title="View assignment">{{ assignment.title }}</a></td>
                        <td data-value="{{ assignment.percentageScore }}" class="numColumn">
                            {% if assignment.submissionStatus == "Graded" %}
                                {{ assignment.percentageScore }}%
                            {% else %}
                                {{ assignment.submissionStatus }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %} 
            </tbody>
            <tfoot>
                <td>Final Grades</td>
                <td class="numColumn">{{finalGrade}}%</td>
            </tfoot>
        </table>
        {% endif %}
    </main>
</body>

