/* Each line of CSS is speerated into its corresponding phrase */
/* Phase 2: Typography */

body {
    font-family: 'IBM Plex Sans', 'sans-serif';
    line-height: 1.25;
    overflow-x :hidden;
}

table{
    line-height: 1.5;
}

code, pre {
    font-family: 'IBM Plex Mono', monospace;
}

header h1{
    font-size: 1.25rem;
}

header h2{
    font-size: 1.25rem;
}

header a {
    color: #444;
    text-decoration: none;
    font-weight: normal;
}

.pageTitle{
    font-size: 1.5rem;
}

#description{
    font-size: 1rem;
}

form{
    font-size: 1.25rem;
}

form input{
    font-size: 1.25rem;
}

/*Phase 3: Styling Links, Forms, and Tables*/
nav a:hover{
    text-decoration: underline;
}

table{
    width: 100%;
    line-height: 1.5;
}

.numColumn{
    text-align: right;
}

table td, table th{
    text-align: left;
}

.inputRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem; /* Add space between rows */
}

form input {
    width: 50%;
}

.buttonRow {
    display: flex;
    justify-content: center;
}

.buttonRow button{
    width: 50%;
}

/*Phase 4: Borders, backgrounds, and whitespace*/
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ddd;
    box-shadow: 0 0 5px gray;
    padding: 0.5rem 1rem;
    margin-bottom: 3rem;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 88.3%;
    margin: 0 2rem 0 0;
}

nav h2{
    margin: 0;
}

header h1{
    color: black;
    font-weight: bold;
    width: 5.71rem;
    margin:0;
    padding:0;
    flex-wrap: nowrap;
}

main h1{
    margin-bottom: 0;
}

.ActionBox{
    border-color: #204a87;
    border-width: 2px;
    border-style: solid;
    background-color: #b1c3de;
    padding: 0.5rem 1rem;
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.ActionBox p{
    margin: 0.5rem;
}

.ActionRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divLine{
    margin-bottom: 0rem;
    padding: 0;
    border-bottom: 1.5px solid #ddd;
}

.heading{
    margin-bottom: 1rem;
}

.heading h1{
    margin:0;
}

.heading p{
    margin: 0;
}

/*Phase 5: Flexible Box Layout*/

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.navContainer h1{
    margin-right: 1rem;
}

#assign{
    width:100%;
}

.container{
    padding: 0 1rem 1rem 1rem;
}

@media (min-width: 52rem) {
    .container {
        width: 50rem; /* Set width to 50rem */
        margin-left: calc((100vw - 52rem) / 2);
        margin-right: calc((100vw - 52rem) / 2);
    }

    .navContainer{
        width: 50rem;
        margin-left: calc((100vw - 52rem) / 2);
        margin-right: calc((100vw - 52rem) / 2);
    }

    nav{
        margin: 0;
    }
}

/* Homework 4 changes here */
output {
    color: red;
    font-weight: bold;
}

input:invalid {
    border: 2px solid red;
}

/* Homework 5 changes */
#error{
    color: red;
}

tfoot{
    font-weight: bold;
}